
body {
	background-color: #111;
}

canvas {
	background-color: #333;
    margin: 0px auto;
    width:1400px; 
    height: 900px; 
}

.addbag {
	background: #22DA5D;
	border: 2px solid #00A23A;
	padding: 20px;
	color: #005E00;
	position: absolute;
	left: 1275px;
	top: 30px;
	font-size: 16px;
}