
body {
	background-color: #111;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#main {
	width: 1400px;
	height: 900px;
	position: relative;
	margin: 0 auto;
}

canvas#canvas {
    margin: 0px auto;
    width:1400px; 
    height: 900px; 
    display: block;
}
canvas#vidcan {
	position: absolute;
	left: 885px;
	width: 500px;
	height: 360px;
	top: 528px;
}

video {
	-webkit-filter: grayscale(0) blur(59px) saturate(600%);
	-moz-filter: grayscale(0) blur(59px) saturate(600%);
	-ms-filter: grayscale(0) blur(59px) saturate(600%);
	-o-filter: grayscale(0) blur(59px) saturate(600%);
	filter: grayscale(0) blur(59px) saturate(600%);
	position: absolute;
	/*z-index: 9999;*/
	left: 150px;
	top: 70px;
	opacity: .4;
}

.add-bag {
	background: #22DA5D;
	border: 2px solid #00A23A;
	padding: 20px;
	color: #005E00;
	position: absolute;
	left: 1275px;
	top: 30px;
	font-size: 16px;
}


.snap-photo {
	background: #22DA5D;
	border: 2px solid #00A23A;
	padding: 20px;
	color: #005E00;
	position: absolute;
	left: 1252px;
	top: 112px;
	font-size: 16px;
}

.camera, .happy, .sad{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	background: white;
}

#happy, #sad{
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#happy canvas, #sad canvas{
	width: 100%;
	height: 100%;
}

.hide{
	display:none;
}