
body {
	background-color: #111;
}

#canvas {
	background-color: #333;
}

/*#gameholder{
	display:none;
}*/

.addbag {
	background: #22DA5D;
	border: 2px solid #00A200;
	padding: 20px;
	color: #005E00;
	position: absolute;
	left: 1275px;
	top: 30px;
	font-size: 16px;
}

#video{
	display:none;
}